.bucket-row{
    justify-content: center;
   
}

#div1{
    background-color: #050c18;
    color: #fef5df; 
    border-radius: 0;
}

#div2{
    background-color: #0b182e;
    color: #fef5df; 
    border-radius: 0;
}

#div3{
    background-color: #102241;
    color: #fef5df; 
    border-radius: 0;
}

#div4{
    background-color: #143261;
    color: #fef5df; 
    border-radius: 0;
}

#div5{
    background-color: #1853b8;
    color: #fef5df; 
    border-radius: 0;
}

.carousel-control-next{
    top: 15vw;
}
.carousel-control-prev{
    top: 15vw;
}