/* .footer.page-footer {
    flex-shrink: none;
    display: inline-block;
    height: 100px;
} */

.footer-margin {
    /* height: 100px; */
    flex-shrink: none;
    display: block;
    position: absolute;
    bottom: 0;
  width: 100%;
  height: 20px;
  }

  .footer-copyright {
      font-size: x-small;
  }